<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="lidar_link" >
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <pose>0 0 0 0 0 0</pose>
            <topic>lidar</topic>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                <horizontal>
                    <samples>640</samples>
                    <resolution>1</resolution>
                    <min_angle>-1.396263</min_angle>
                    <max_angle>1.396263</max_angle>
                </horizontal>
                </scan>
                <range>
                <min>0.08</min>
                <max>10.0</max>
                <resolution>0.01</resolution>
                </range>
            </lidar>
            <alwaysOn>1</alwaysOn>
            <visualize>true</visualize>
        </sensor>
    </gazebo>


    <gazebo>
      <plugin
        filename="libignition-gazebo-diff-drive-system.so"
        name="ignition::gazebo::systems::DiffDrive">
        <left_joint>left_wheel_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint>
        <wheel_separation>1.25</wheel_separation>
        <wheel_radius>0.3</wheel_radius>
        <odom_publish_frequency>30</odom_publish_frequency>
      </plugin>
     </gazebo>
</robot>